:plain
  $("#ajax-modal").html('#{j render :partial => "modify", :locals => { :ownner => @mokuai_ownner }}')
  mokuai_ownner_window = layer.open({
    type: 1,
    title: '<b>修改Owner</b>',
    area: ['400px', 'auto'],
    zIndex: 666,
    moveType: 1,
    shadeClose: false,
    content: $("#ajax-modal"),
    btn: ['取消', '确定'],
    yes: function(index, layero){
      layer.close(mokuai_ownner_window)
    },
    btn2: function(index, layero){
      $("#mokuai_ownner_form").submit();
    }
  });
