replaceIssueFormWith('#{escape_javascript(render :partial => 'form')}');
$(".select2-origin").trigger('change.select2');
- if User.current.allowed_to?(:log_time, @issue.project)
  $('#log_time').show();
- else
  $('#log_time').hide();
