- provide :nav, "7,1"
- provide :css, "bootstrap"

= title [l(:label_flow_files), flow_files_path], l(:label_flow_files_new)

= labelled_form_for @file, :url => flow_files_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  .button-group.text-center
    = submit_tag l(:button_create), class: "btn btn-primary"

