// var fileSpan = $('##{params[:id]}');
// fileSpan.append($('<input/>', { type: 'hidden', name: 'attachments[#{params[:attachment_id]}][token]' } ).val('#{@attachment.token}');
// fileSpan.find('a.remove-upload').attr({ "data-remote": true, "data-method": 'delete', href: '#{attachment_path(@attachment, :attachment_id => params[:attachment_id], :format => 'js')}'}).off('click');
