-#User-agent: *
-#- @projects.each do |p|
-#  Disallow: /projects/#{p.to_param}/repository
-#  Disallow: /projects/#{p.to_param}/issues
-#  Disallow: /projects/#{p.to_param}/activity
-#Disallow: /issues/gantt
-#Disallow: /issues/calendar
-#Disallow: /activity
-#Disallow: /search


User-agent: Googlebot
Disallow: /
User-agent: googlebot-image
Disallow: /
User-agent: googlebot-mobile
Disallow: /
User-agent: MSNBot
Disallow: /
User-agent: Slurp
Disallow: /
User-agent: Teoma
Disallow: /
User-agent: twiceler
Disallow: /
User-agent: Gigabot
Disallow: /
User-agent: Scrubby
Disallow: /
User-agent: Robozilla
Disallow: /
User-agent: Nutch
Disallow: /
User-agent: ia_archiver
Disallow: /
User-agent: baiduspider
Disallow: /
User-agent: naverbot
Disallow: /
User-agent: yeti
Disallow: /
User-agent: yahoo-mmcrawler
Disallow: /
User-agent: psbot
Disallow: /
User-agent: asterias
Disallow: /
User-agent: yahoo-blogs/v3.9
Disallow: /
User-agent: *
Disallow: /
Sitemap: https://os.gionee.com