.tip
  .tip-head
    %strong [说明]：
  .tip-body
    .tip-item
      %p
        %strong 1、OKR设定
      %p 1.1 季度设定，公开发布，季度末评估；
    .tip-item
      %p 
        %strong 2、OKR评价
      %p 2.1 KR打分标准(1分起评)；
      %div
        %table
          %thead
            %tr
              %th 分数
              %th 描述
          %tbody
            %tr 
              %td 10分
              %td 几乎不可能完成的任务完成了
            %tr
              %td 7分
              %td 有难度的任务，努力后几乎达成
            %tr
              %td 3分
              %td 没有完成目标
            %tr
              %td 0分
              %td 无任何进展

      %p 2.2 O打分标准(如需): KR的平均分。