.form-group#update_list_specs
  = label_tag 'specs', l(:spec_name)
  = select_tag 'specs' ,grouped_options_for_select(@select_specs.collect{|p| [p.project_name, Hash[p.specs_list.split(",").map!.with_index{|n, i| i.even?? "&nbsp;&nbsp;".html_safe+n : n }.each_slice(2).to_a].to_a]}, params[:specs]), {multiple: true, disabled: project.nil? , class: "form-control", style:"min-width:250px;max-height:30px;"}
  = select2_for 'specs', '', placeholder:"请选择", closeOnSelect: false