%h2= l(:label_query_new)
= form_tag(@project ? project_queries_path(@project) : queries_path, :id => "query-form") do
  = render :partial => 'form', :locals => {:query => @query}
  = submit_tag l(:button_save)
