td.highlight
  background-color: whitesmoke !important

.reports
  float: left
  width: 46%
  padding: 5px
  margin: 10px

#breadcrumb-report
  padding-left: 20px
  background-color: darken(#f88829,5%)
  font-weight: bold
  li
    a.active
      color: #fff

.filter-slide-report
  .filter-collapse
    top: -25%
    transition: 0.5s
  .filter-expanded
    height: 100%
    transition: 0.5s

.filter-add-report-icon
  color: #fff
  float: right
  padding: 6px 10px
  background: $amigoColor
  border-top-right-radius: 4px
  cursor: pointer
  &:hover
    background-color: darken($amigoColor, 10%)

.select2-rectify
  .select2-container
    width: 100%!important

#menu
  top: 450px
  right: 100px
  position: fixed
  z-index: 555
  opacity: 0.50
  ul
    opacity: 0.80
    background-color: #EAEAEA

.new_progress_window
  display: none
  padding: 20px

.sortable-container
  float: left
  width: 350px
  span
    font-weight: bold
.sortable
  margin: 2px
  padding: 5px
  width: 300px
  border: $amigoColor solid 1px
  div
    border-radius: 5px
    padding: 5px
    background-color: white
    color: black
    cursor: pointer
    border: 1px solid #EAEAEA
    &:hover
      border: 1px solid $amigoColor
      cursor: move

.delay
  color: red

.delay:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .delay:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected)
  color: red

.grid-cell-overflow
  text-overflow: ellipsis

.gird-row-selected
  background-color: lightgoldenrodyellow

.vertical-tab
  width: 100px
  height: 100%
  float: left
  overflow: hidden

.vertical-tab > li
  text-align: center

.vertical-tab > li.active > a, .vertical-tab > li.active > a:focus, .vertical-tab > li.active > a:hover
  border: solid #ccc
  border-width: 1px 0px 1px 1px
  background-color: #ffffff
  border-right: 1px solid #ffffff
  z-index: 2

.vertical-tab > li > a
  border-radius: 4px 0px 0px 4px

.vertical-tab-content
  float: left
  width: 90%
  height: 100%
  padding: 5px
  margin-left: -1px
  margin-bottom: 2px
  border-radius: 4px 4px 4px 4px
  border: solid 1px #ccc
  color: #666

.navbar-default
  z-index: 666

.nav-content
  z-index: 666