-# %h2= @status
-# - if @message.present?
-#   #errorExplanation= @message
-# %p
-#   %a{:href => "javascript:history.back()"}= l(:button_back)
-# - html_title @status

= render "exception_handler/exceptions/show"
