:plain
  $("#ajax-modal").html('#{j render :partial => "change_form", :locals => { :member => @member, :roles => @roles}}');
  fetch_member_form_window = layer.open({
    type: 1,
    title: '<b>编辑 #{@member.principal.name} 角色 </b>',
    area: ['600px', '600px'],
    zIndex: 666,
    moveType: 1,
    shadeClose: false,
    content: $("#ajax-modal"),
    btn: ['取消', '确定'],
    yes: function(index, layero){
      layer.close(fetch_member_form_window)
    },
    btn2: function(index, layero){
      $("#MemberChangeForm").submit();
    }
  });

