:plain
  $("#ajax-modal").html('#{j render :partial => "group_members", :locals => { :members => @members}}');
  fetch_member_form_window = layer.open({
    type: 1,
    title: '<b>角色#{@member_role.role.name} #{@member.principal.lastname} 组成员</b>',
    area: ['600px', '600px'],
    zIndex: 666,
    moveType: 1,
    shadeClose: false,
    content: $("#ajax-modal"),
    btn: ['关闭'],
    yes: function(index, layero){
      layer.close(fetch_member_form_window)
    }
  });