- provide :nav, (@project.show_by(4)? "4,1" : "2,1")
- provide :css, "bootstrap"

.h2= l(:label_memberships_roles)

.filter-right
  .panel.panel-default{:style => "margin-top:20px;"}
    .panel-heading 项目角色
    .panel-body
      .issues-head
        .issues-body
          - if @roles.empty?
            %p.nodata= l(:label_no_data)
          - else
            .roadmap-table
              %table#membershipRoleTable.table.table-borderless
                %tbody
                  - @roles.each do |role|
                    %tr
                      %td{width: 200}= link_to role.name, new_project_membership_path(project_id: @project, role_id: role.id), remote: true